.projectListContainer {
  margin: 3rem auto 1rem auto;
  background-color: rgba(var(--lpink), 0.5);
  padding: 1rem;
  border-radius: 15px;
}

.carousel {
  position: relative;
}

.contentCarousel {
  width: 90%;
  margin: auto;
}

.carousel .slider {
  margin: auto;
  width: 100%;
}

li .slide {
  position: relative;
}

.carousel .overlay {
  width: 80%;
  top: 40%;
  transform: translateY(-40%);
  right: 2%;
  padding: 0.4rem 1.5rem;
  text-align: left;
  background: hsla(0, 0%, 0%, 0.5);
  color: #ffff;
  border-radius: 15px;
  margin-left:auto;
  margin-right: 1rem;
}

.overlay-description {
  color: red;
  height: 50px;
}

/* pour les miniatures */
.carousel .thumbs {
  display: flex;
  cursor: pointer;
}

@media screen and (min-width: 1024px) {
  .projectListContainer {
    margin: 3rem;
    padding: 3rem;
    border-radius: 15px;
  }

  .carousel .overlay {
    margin-right: 3.5rem;
  }
}
