/* le boutton */
.divButton {
  display: inline-block;
  margin: 1rem;
}

.roundButton {
  font-size: 1.4rem;
  font-family: Georgia, serif;
  background: rgb(var(--blueg));
  color: rgb(var(--lpink));
  border-radius: 80px;
  border: none;
  width: 120px;
  height: 120px;
  transition: all 0.15s linear 0s;
  text-decoration: none;
  cursor: pointer;
}

/* effet boutton */
a .more {
  display: none;
}
a:hover .more {
  display: block;
  color: rgb(var(--blueg));
}

a:hover .title {
  display: none;
}
.roundButton:hover {
  transform: translatex(30px);
  background: rgb(var(--lpink));
}
