/* le boutton */
.divButton {
  display: inline-block;
margin:1rem;
}

.roundButton {
  font-size: 26px;
  font-family: Cambria, Cochin, Georgia, serif;
  background: rgb(var(--blueg));
  color: rgb(var(--lpink));
  border-radius: 80px;
  border: none;
  width: 110px;
  height: 110px;
  /* margin: 100px auto 80px auto; */
  transition: all 0.15s linear 0s;
  text-decoration: none;
  cursor: pointer;
}

/* effet boutton */
a .more {
  display: none;
}
a:hover .more {
  display: block;
  color: rgb(var(--blueg));
}

a:hover .title {
  display: none;
}
.roundButton:hover {
  transform: translatex(30px);
  background: rgb(var(--lpink));
}