form#formAdmin {
  width: 80%;
  border-radius: 20rem;
  background-color: rgba(var(--green), 0.8);
}

.admin {
  color: rgba(var(--lpink));
 }

input{
  background-color: rgba(var(--lpink), 0.5);
  height: 2rem;
  width: 80%;
  margin-bottom: 1.5rem;
  border-radius:5px;
  overflow: none;
  color: rgba(var(--lpink));
}

input::placeholder {
  color: rgba(var(--lpink));
  font-size: 1.5em;
}

textarea {
  color: #ffff;
  border-radius:5px;
}

.css-1s2u09g-control {
  margin:auto;
  width:80%;
  border-radius:5px;
}

select.css-1pahdxg-control {
  margin:auto;
  width:80%;
  border-radius:5px;
}

.css-6j8wv5-Input {
  margin:auto;
  width:80%;
  border-radius:5px;
}

.css-319lph-ValueContainer {
  margin:auto;
  width:80%;
  border-radius:5px;
}

/* .css-14el2xx-placeholder{
  margin:auto;
  width:80%;
  border-radius:5px;
} */


@media screen and (min-width: 768px) {
  form#formAdmin {
    width: 80%;
    border-radius: 50rem;
    padding: 4rem;
  }
}

@media screen and (min-width: 1024px) {
  form#formAdmin {
    width: 50%;
    border-radius: 20rem;
    height:32rem;
  }
}
