form#formAdmin {
  width: 30%;
  height: auto;
  margin: 120px auto;
  padding: 120px 120px;
  border-radius: 250px;
  background-color: rgba(var(--green), 0.8);
}

input {
  background-color: rgba(var(--lpink), 0.5);
  height: 2rem;
  width: 80%;
  margin-bottom: 2rem;
}

input::placeholder{
  color: rgba(var(--lpink));
  font-size: 1.5em;
}

.admin{
  color:#ffff;
  padding: 0 0 3rem 0;
}

.containerDashboardButton{
  display: flex;
  justify-content: space-around;
  padding-top: 2rem;
}


/* 
@media screen and (max-width: 480px)and (min-width: 768px) {
input {
    background-color: rgba(var(--lpink), 0.5);
    height: 2rem;
    width: 80%;
    margin-bottom: 2rem;
  } */
 /* } */
