.contactMe {
  width:80%;
}

form {
  padding: 1rem;
  width: 80%;
  height: 33rem;
  margin: 5vh auto ;
  border-radius: 15px;
  position: relative;
  background-color: rgba(var(--lpink), 0.7);
}

input {
  background-color: rgba(var(--lpink), 0.1);
  color: rgba(var(--green), 0.9);
  height: 2rem;
  width: 80%;
  margin-bottom: 2rem;
}

textarea {
  height: 10rem;
  /* height: initial; */
  background-color: rgba(var(--lpink), 0.5);
  width: 80%;
  
  font-size: 1.5em;
}

textarea::placeholder {
  color: rgba(var(--green), 0.9);
}

@media screen and (min-width: 768px) {
  /* .rectangleHome {
   
  } */

  form {
    padding: 2rem;
    width: 60%;
    height: 32rem;
    margin: 10vh auto ;
}
}

@media screen and (min-width: 1024px) {
  .contactMe {
    width:80%;
    margin: 5rem auto 5rem auto;

  }
  form {
    padding: 2rem;
    width: 40%;
    height: 38rem;
    margin: 10vh auto ;
}
}
