.footerMenu {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
}

.footerButton {
  /* background-color: rgba(var(--lpink), 0.7); */
  background-color: rgba(var(--green), 0.7);
  /* color: rgba(var(--green), 0.9); */
  border-radius: 130px 130px 0 0;
  width: 80px;
  height: 10px;
  margin: auto;
  margin-top: 30px;
  padding: 35px;
   }

   .footerButton.openMenu button, 
   .footerButton.openMenu{
display:none
   }

.footerButton:hover {
  cursor: pointer;
  transform: scale(1.5);
}

.buttonMenu {
  font-family: inherit;
  background-color: transparent;
  color: rgba(var(--lpink), 0.9);
  font-size: 26px;
  border: none;
  transform: translatey(-30px);
  }

.footerMenuContent nav{
display:flex;
justify-content: space-around;
margin:auto;
font-size: 1.2rem;
padding:1rem
}

nav a{
  text-decoration: none;
  color: rgba(var(--green), 0.9);
}


@media screen and (min-width: 768px){
  .footerMenuContent nav{
     justify-content: space-between;
width: 50%;
}
.footerButton {
  color: rgba(var(--lpink), 0.9);
}
}

@media screen and (min-width: 1024px){
.footerMenuContent nav{
  width:60%;
  font-size: 1.4rem;
  }
}

@media screen and (min-width: 768px){
  .footerMenuContent nav{
    width:50%;
    font-size: 1.4rem;
    }
  }