h1 {
  font-size: 2em;
  margin: 50px auto 50px auto;
}

h2 {
  font-size: 1.8em;
  text-align: center;
  color: #ffff;
  margin-top:2rem;
    margin-bottom: 2rem;
    padding: 2rem;
}

h3 {
  font-size: 1.5em;
  color: #ffff;
}

p {
  font-size: 1.3rem;
  padding:1.2rem;
}

input[text],
textarea,
select {
  font-family: Georgia, serif;
  font-size: 1.2rem;
  /* border:none; */
  border-color:var(--green);
}

@media only screen {
  .App {
    bottom: 0;
  }
}
