/* détermination variables couleurs type rgb pour gérer opacité */
:root {
  --blueg: 109, 138, 141;
  --green: 101, 140, 129;
  --black: 0, 13, 12;
  --lpink: 245, 235, 235;
  --pink: 242, 203, 194;
  --darkslategray: 47, 79, 79;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  background: url(/public/assets/fond-portfolio.png) no-repeat center center
    fixed;
  font-family: Georgia, serif;
  padding: 0;
  background-size: cover;
  color: rgb(var(--blueg));
  text-align: center;
}

/* @font-face {
  font-family: "lavishly_yoursregular";
  src: url(./font/lavishlyyours-regular-webfont.woff2) format("woff2"),
    url(./font/lavishlyyours-regular-webfont.woff) format("woff");
  font-weight: normal;
  font-style: normal;
} */

.container {
  /* max-width: 1330px; */
  margin: 0 auto;
  overflow: hidden;
  margin-right: 1rem;
  margin-left: 1rem;
}

.reseauxSociaux-container{
  display:flex;
  justify-content:center;
  width:30%;
  margin: auto;
   /* margin-top: 0.5rem; */
}

.social-logo{
width:2rem;
margin:0.5rem
}