.contactMeForm {
  background-color: rgba(var(--lpink), 0.7);
  padding: 1rem;
  width: 80%;
  margin: 7vh auto ;
  border-radius: 15px;
}

.contactInput {
  padding:1.1rem;
  height: 2rem;
  width: 80%;
color:rgba(var(--darkslategray));  
border: none;
}

#email.contactInput {
  color:rgba(var(--darkslategray));  
}

.contactInput:focus{
color:rgba(var(--darkslategray));  
}

.textAreaContact {
    padding:1rem;
  height: 10rem;
  color:rgba(var(--darkslategray));  
  width: 80%;
  border: none;
}

@media screen and (min-width: 768px) {
  .contactMeForm {
    margin-top: 9vh;
  }
}

@media screen and (min-width: 1024px) {
  .contactMeForm {
    margin-top: 12vh;
    width:50%;
  }
}
